{% set standalone = standalone ?? false %}
{% extends standalone ? 'base.html.twig' : 'null.html.twig' %}

{% block body %}
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Competenties</h2>
                    <h3 class="section-subheading text-muted">Hieronder staan alle skills en vaardigheden die ik heb, en
                        alle technieken waar ik mee heb gewerkt.</h3>
                </div>
            </div>
            <div class="row text-center">
                {% set iter = 0 %}
                {% for competence in competences %}
                    {% set standalone = false %}
                    {% set delete = editor ? deletes[iter] : null %}
                    {% include ':competence:show.html.twig' %}
                    {% set iter = iter + 1 %}
                {% endfor %}
                {% if editor %}
                    {% include 'competence/competence.html.twig' %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}