<div class="col-12 col-md-6 col-lg-4 top-buffer">
    <span class="competenties-circle">
        <img src="{{ asset('uploads/competences/' ~ competence.logo) }}"
             alt="{{ competence.name }}">
    </span>
    <h4 class="service-heading">{{ competence.name }}</h4>
    <p class="text-muted">{{ competence.description }}</p>
</div>