<div id="intro">
    <div class="intro-text">
        <div class="intro-lead-in">Welcome!</div>
        <div class="intro-heading">Ik ben een hard werkende student, met liefde voor zijn vak!</div>
        <a href="#services" class="ui button huge primary">Bekijk mijn portfolio</a>
    </div>
</div>