/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea
/web/uploads/
/web/node_modules/
.DS_Store

#jmcvink.nl
.htpasswd/
awstats/
logs/
private_html
public_html_backup/
stats/
node_modules/
npm-debug.log
