<div class="addition_{{ portfolio.id }}_link">
    <input type="text"><input type="text">
</div>
<div class="addition_{{ portfolio.id }}_paragraph">
    <textarea class="editor" name="paragraph" id="paragraph" cols="30" rows="10"></textarea>
</div>
<div class="addition_{{ portfolio.id }}_image">
    <input type="file">
</div>
<div class="addition_{{ portfolio.id }}_video">
    <input type="text">
</div>