{% extends 'base.html.twig' %}

{% block body %}
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Schakel navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Job Vink</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Competenties</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Tijdlijn</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header style="background-image: url('img/header-bg.jpg');">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome!</div>
                <div class="intro-heading">Ik ben een hard werkende student, met liefde voor zijn vak!</div>
                <a href="#services" class="page-scroll btn btn-xl">Bekijk mijn portfolio</a>
            </div>
        </div>
    </header>

    <!-- Uitgelicht -->
    <section id="spotlight">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                    <h1 class="section-heading text-center">Uitgelicht</h1>
                    <div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-0">
                        <img class="img-circle img-responsive img-centered" alt="iSource" src="img/timeline/isource.jpg">
                    </div>
                    <div class="col-md-8 col-md-offset-0 col-xs-10 col-xs-offset-1">
                        <div class="timeline-heading">
                            <h4>Augustus 2017 - Januari 2018</h4>
                            <h4 class="subheading">iSource - stage</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Bij iSource ga ik aan de slag als webdeveloper.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Competenties</h2>
                    <h3 class="section-subheading text-muted">Hieronder staan alle skills en vaardigheden die ik heb, en
                        alle technieken waar ik mee heb gewerkt.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="competenties-circle">
                        <img data-src="img/competenties/laravel.png" alt="laravel">
                    </span>
                    <h4 class="service-heading">Laravel</h4>
                    <p class="text-muted">Laravel is een php framework gebouwd op het model – view – controller pattern.</p>
                </div>
                <div class="col-md-4">
                    <span class="competenties-circle">
                       <img data-src="img/competenties/php.png" alt="php">
                    </span>
                    <h4 class="service-heading">PHP</h4>
                    <p class="text-muted">Php is een programeertaal vooral gebruikt voor back-end programmeren.</p>
                </div>
                <div class="col-md-4">
                    <span class="competenties-circle">
                        <img data-src="img/competenties/js.png" alt="javascript">
                    </span>
                    <h4 class="service-heading">Javascript</h4>
                    <p class="text-muted">Ik heb erg veel gewerkt met webdevelopment en ik ben behendig geworden met
                        javascript.</p>
                </div>
            </div>
            <div class="row text-center top-buffer">
                <div class="col-md-4">
                    <span class="competenties-circle">
                        <img data-src="img/competenties/css.png" alt="css">
                    </span>
                    <h4 class="service-heading">CSS</h4>
                    <p class="text-muted">Bij webdevelopment is css natuurlijk niet weg te denken.</p>
                </div>
                <div class="col-md-4">
                    <span class="competenties-circle">
                       <img data-src="img/competenties/html.png" alt="html">
                    </span>
                    <h4 class="service-heading">HTML</h4>
                    <p class="text-muted">Ook heb ik ervaring met basis HTML en HTML5.</p>
                </div>
                <div class="col-md-4">
                    <span class="competenties-circle">
                       <img data-src="img/competenties/react.png" alt="react">
                    </span>
                    <h4 class="service-heading">React</h4>
                    <p class="text-muted">In een dynamische wereld zijn javascript frameworks een must.</p>
                </div>
            </div>
            <div class="row text-center top-buffer">
                <div class="col-md-4">
				<span class="competenties-circle">
					<img data-src="img/competenties/angular.png" alt="angular">
				</span>
                    <h4 class="service-heading">Angular</h4>
                    <p class="text-muted">Een fantastisch framework gemaakt door Google.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Een overzicht van al mijn projecten.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img data-src="img/portfolio/mod1_front.jpg" class="img-responsive" alt="Specialisatie project">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Specialisatie project</h4>
                        <p class="text-muted">Een reis door het spijsverteringskanaal</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img data-src="img/portfolio/mod2_front.jpg" class="img-responsive" alt="Interactive website NOS">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Interactive website NOS</h4>
                        <p class="text-muted">Een kijkje in Noord-Korea</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img data-src="img/portfolio/mod3_front.jpg" class="img-responsive" alt="Virtual Reality">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Virtual reality</h4>
                        <p class="text-muted">Ervaar het echte werk</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img data-src="img/portfolio/mod4_front.jpg" class="img-responsive" alt="IoT selution in de retail">
                    </a>
                    <div class="portfolio-caption">
                        <h4>IoT selution in de retail</h4>
                        <p class="text-muted">Een slimme kledinghanger</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img data-src="img/portfolio/mod5_front.png" class="img-responsive" alt="Baat Bij Bewind">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Baat bij bewind</h4>
                        <p class="text-muted">Persoonlijke website</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img data-src="img/portfolio/mod6_front.jpg" class="img-responsive" alt="Pedicure">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Pedicure</h4>
                        <p class="text-muted">Persoonlijke website</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tijdlijn</h2>
                    <h3 class="section-subheading text-muted">Een overzicht van mijn werkervaring.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" data-src="img/timeline/flora_holland.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Juli 2014</h4>
                                    <h4 class="subheading">Flora Holland - Logistiek medewerker</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mijn eerste baan was bij Flora Holland. Hier heb ik bloemen
                                        verplaatst van de ene naar de andere afdeling om ervoor te zorgen dat de bloemen bij de juiste klant
                                        afgeleverd werden.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" data-src="img/timeline/studentaanhuis.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2015 - Oktober 2016</h4>
                                    <h4 class="subheading">Studentaanhuis - ICT consultent</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bij studentaanhuis kwam ik bij klanten thuis om diverse problemen
                                        op te lossen. Dat kon variëren van e-mail problemen tot nieuwe computers
                                        installeren.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" data-src="img/timeline/hogeschool_leiden.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Augustus 2016</h4>
                                    <h4 class="subheading">Hogeschool Leiden - Administratief medewerker</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Als medewerker heb ik geholpen bij het vervangen van hardeschijven
                                        en RAM-geheugen in ongeveer 3000 computers en werkplekken in de Hogeschool.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" data-src="img/timeline/hogeschool_leiden.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2016 - April 2017</h4>
                                    <h4 class="subheading">Hogeschool Leiden - Student-assistent</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Als student-assistent ben ik mede verantwoordelijk voor het geven van
                                        een aantal werkcolleges aan eerstejaars studenten.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" data-src="img/timeline/gemeente_leiden.jpg" alt="Gemeente Leiden">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Augustus 2017</h4>
                                    <h4 class="subheading">Gemeente Leiden - Inventarisatiemedewerker</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tijdens mijn baan bij de gemeente Leiden heb ik meegeholpen aan een
                                        inventarisatie van alle IT faciliteiten, die in beheer zijn van de gemeente Leiden.
                                        Bij deze baan was het belangrijk nauwkeurig te werk te gaan.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" data-src="img/timeline/isource.jpg" alt="iSource">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2017 - Januari 2018</h4>
                                    <h4 class="subheading">iSource - Stage</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bij iSource ga ik aan de slag als webdeveloper.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Job Vink 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a target="_blank" href="https://twitter.com/jobvink"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.facebook.com/job.vink"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/job-vink-64648812b/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Specialisatie project</h2>
                                <p class="item-intro text-muted">Een reis door het spijsverteringsstelsel.</p>
                                <img class="img-responsive img-centered" data-src="img/portfolio/mod1_1.jpg" alt="">
                                <p>Het eerste project dat ik in mijn opleiding gedaan heb, was een project in opdracht van
                                    het Boerhaave Museum in Leiden. Wij kregen de opdracht om een interactieve installatie
                                    te bouwen voor kinderen tussen de 10 en 14 jaar. Het thema van onze installatie moest
                                    gezondheid en lichaam zijn. Mijn projectgroepje heeft er voor gekozen om een reis
                                    door het spijsverteringsstelsel te maken.</p>
                                <p>Bij dit project hebben wij intensief nagedacht over de gebruiksvriendelijkheid van onze
                                    installatie. Ons doel was om het de kinderen zo makkelijk mogelijk te maken. Dit hebben
                                    we gedaan door sterk in te zetten op de gebruiksvriendelijkheid van onze
                                    installatie.</p>
                                <div class="video-wrapper">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/7NHE-gKHsx8"
                                            frameborder="0" allowfullscreen></iframe>
                                </div>
                                <button type="button" class="btn btn-primary top-buffer" data-dismiss="modal"><i
                                            class="fa fa-times"></i> Sluit Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Interactive website NOS</h2>
                                <p class="item-intro text-muted">Een kijkje in Noord-Korea.</p>
                                <img class="img-responsive img-centered" data-src="img/portfolio/mod2_1.png" alt="">
                                <h3><a href="resources/nos/index.html">Bekijk de website</a></h3>
                                <p>Bij dit project moesten we in opdracht van de NOS een interactieve website maken. De
                                    visie van de NOS is om bepaalde verhalen en nieuwsitems uitgebreid uit te lichten in
                                    wat de NOS 'specials' noemt. Dit zijn uitgebreide verhalen waar af en toe een
                                    interactief element in zit. Een voorbeeld van zo'n interactief verhaal is: <a
                                            href="http://lab.nos.nl/projects/drugs/">"Het DNA van MDMA"</a> van de NOS.</p>
                                <p>Wij kregen de opdracht om zo'n 'special' te maken. We kregen als onderwerp een verhaal
                                    over Noord-Korea. Dit is een land waar een totale dictatuur heerst. Wij hebben deze
                                    sfeer in onze website naar voren laten komen door na te denken over bijvoorbeeld het
                                    kleurgebruik. Daarbij hebben we alle aandachtspunten naar voren laten komen door dit
                                    kleurgebruik toe te passen.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                            class="fa fa-times"></i> Sluit Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Virtual reality</h2>
                                <p class="item-intro text-muted">Ervaar het echte werk.</p>
                                <img class="img-responsive img-centered" data-src="img/portfolio/mod3_1.jpg" alt="">
                                <h3><a href="resources/vr/index.html">Bekijk de website (alleen op firefox)</a></h3>
                                <p>Voor mijn derde project als student bij de Hogeschool Leiden moesten wij een
                                    web-applicatie voor virtual reality maken.</p>
                                <p>Mijn projectgenoot en ik hebben besloten om een fietsenwinkel na te bootsen in virtual
                                    reality. Het idee achter ons concept was dat je dan het product kunt ervaren zoals het in
                                    het werkelijk is.</p>
                                <p>Voor dit project hebben we met A-frame gewerkt. A-frame is een framework gebouwd voor
                                    virtual reality in een web omgeving.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                            class="fa fa-times"></i> Sluit Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>IoT selution in de retail</h2>
                                <p class="item-intro text-muted">Een slimme kledinghanger.</p>
                                <img class="img-responsive img-centered" data-src="img/portfolio/mod4_1.jpg" alt="">
                                <p>Voor dit project moesten wij een installatie maken voor een winkel. Wij kwamen met het
                                    idee om een slimme kleding-hanger te maken. Het idee was dat de consument zijn maat in
                                    kan voeren op het kledingrek, vervolgens licht het lampje van de ingevoerde maat op bij
                                    de hanger, zodat de consument direct weet waar zijn maat hangt.</p>
                                <p>De concurrentie van de webshops is tegenwoordig groot. Fysieke winkels kunnen daarom
                                    minder personeel inhuren. Het is daarom erg belangrijk om consumenten snel te helpen,
                                    zodat het personeel dat er wel staat zo veel mogelijk mensen kunnen helpen.</p>
                                <div class="video-wrapper">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gI9ETe90ML4"
                                            frameborder="0" allowfullscreen></iframe>
                                </div>
                                <button type="button" class="btn btn-primary top-buffer" data-dismiss="modal"><i
                                            class="fa fa-times"></i> Sluit Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Baat bij bewind</h2>
                                <img class="img-responsive img-centered" data-src="img/portfolio/mod5_1.png" alt="Baat bij bewind banner">
                                <h3><a target="_blank" href="https://baatbijbewind.nl">Bekijk de website</a></h3>
                                <p>Deze website heb ik gemaakt voor mijn oom die zzp’er is, en een eigen bedrijf heeft in bewindvoering. Het is belangrijk dat zzp’ers zichtbaar zijn op het internet. Dit kan behaald worden door gebruik te maken van search engine optimization.</p>
                                <p>Een andere handige tip waar ik gebruik van gemaakt heb om deze website zichtbaar te maken op Google is door het bedrijf van deze klant toe te voegen aan google maps via google’s local guide programma. Op deze manier wordt het bedrijf direct zichtbaar als de naam ingetypt wordt op Google. Je moet ook leren letten op kleinere details. Google geeft bijvoorbeeld voorrang aan websites die alleen bereikbaar zijn met https.</p>
                                <img class="img-responsive img-centered" data-src="img/portfolio/mod5_2.png" alt="Google baat bij bewind">
                                <button type="button" class="btn btn-primary top-buffer" data-dismiss="modal"><i
                                            class="fa fa-times"></i> Sluit Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Pedicuren</h2>
                                <img class="img-responsive img-centered" data-src="img/portfolio/mod6_1.jpg" alt="Baat bij bewind banner">
                                <h3><a target="_blank" href="https://tenen-voeten.nl">Bekijk de website</a></h3>
                                <p>Deze website heb ik gemaakt voor mijn tante. Mijn tante is pedicure, voor haar is het belangrijk dat haar website de mogelijkheid biedt om informatie te geven over wat ze doet en wat bijvoorbeeld de tarieven van haar praktijk zijn. Ook is het erg belangrijk dat potentiele klanten gemakkelijk contact met haar kunnen leggen. Dit proces kun je  verbeteren door kleine dingetjes iets gebruiksvriendelijker te maken, door bijvoorbeeld het telefoonnummer klikbaar te maken, zodat de klant direct op het nummer kan klikken als deze op zijn of haar mobiel de website bezoekt.</p>
                                <button type="button" class="btn btn-primary top-buffer" data-dismiss="modal"><i
                                            class="fa fa-times"></i> Sluit Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}