<!-- Header -->
<header style="background-image: url('{{ asset('img/header-bg.jpg') }}');">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome!</div>
            <div class="intro-heading">Ik ben een hard werkende student, met liefde voor zijn vak!</div>
            <a href="#services" class="page-scroll btn btn-xl">Bekijk mijn portfolio</a>
        </div>
    </div>
</header>