<nav>
    <div class="ui secondary  menu">
        <a class="header item">
            Job Vink
        </a>
        <div class="right menu">
            <a class="ui item" href="#competence">
                Competenties
            </a>
        </div>
    </div>
</nav>