.competenties-circle {
  background-color: #fed136;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.competenties-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-buffer {
  margin-top: 50px;
}