.competenties-circle {
  background-color: #fed136;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  display: inline-block;
  font-size: 4em;

}

.top-buffer {
  margin-top: 50px;
}